<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%d{HH:mm:ss,SSS} %-5p[%t] %15X{ip} %X{sessionId} %X{requestURI} %c - %m%n" />
        </Console>
        <RollingFile name="file-appender" fileName="logs/qmgmt" filePattern="logs/qmgmt-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout
                pattern="%d{HH:mm:ss,SSS} %-5p[%t] %15X{ip} %X{sessionId} %X{requestURI} %c - %m%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.konkow.framework" additivity="false" level="info">
            <AppenderRef ref="console" />
            <AppenderRef ref="file-appender" />
        </Logger>
        <Logger name="org.hibernate.engine.internal.StatefulPersistenceContext" level="error"></Logger>
        <!-- <Logger name="org.hibernate.cache" additivity="false" level="info">
            <AppenderRef ref="console" />
            <AppenderRef ref="file-appender" />
        </Logger>
        <Logger name="org.hibernate.SQL" additivity="false" level="DEBUG">
            <AppenderRef ref="console" />
            <AppenderRef ref="file-appender" />
        </Logger>
        <Logger name="org.hibernate.type" additivity="false" level="DEBUG">
            <AppenderRef ref="console" />
            <AppenderRef ref="file-appender" />
        </Logger> -->

        <Root level="info">
            <AppenderRef ref="console" />
            <AppenderRef ref="file-appender" />
        </Root>
    </Loggers>
</Configuration>
