<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<mapping resource="hibernate/MWABranch.hbm.xml" />
		<mapping resource="hibernate/MWAPetition.hbm.xml" />
		<mapping resource="hibernate/MWAWeek.hbm.xml" />
		<mapping resource="hibernate/STDParameter.hbm.xml" />
		<mapping resource="hibernate/STDError.hbm.xml" />
        <mapping resource="hibernate/UMEUser.hbm.xml" />
		<mapping resource="hibernate/UMERole.hbm.xml" />
		<mapping resource="hibernate/UMEAuth.hbm.xml" />
	</session-factory>
</hibernate-configuration>
