<div layout="column" ng-cloak="" class="md-inline-form inputdemoBasicUsage">

  <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding="" sticky> 
    <div>
      <md-input-container>
        <label>MsgID</label>
        <input ng-model="user.title">
      </md-input-container>

      <md-input-container>
        <label>Email</label>
        <input ng-model="user.email" type="email">
      </md-input-container>

	 <md-input-container flex-gt-sm="">
        <label>Message Type</label>
        <md-select ng-model="user.messageType">
          <md-option ng-repeat="messageType in messageTypes" value="{{messageType.desc}}">
            {{messageType.desc}}
          </md-option>
        </md-select>
      </md-input-container>
      
      <md-datepicker ng-model="user.submissionDate" md-placeholder="Enter date">
          </md-datepicker>

      <md-button class="md-raised md-primary">Primary</md-button>
    </div>
  </md-content>

  <md-content layout-padding="">
    <div>
      <form name="userForm">
        <div>
          <md-input-container>
            <label>First name</label>
            <input ng-model="user.firstName">
          </md-input-container>

          <md-datepicker ng-model="user.submissionDate" md-placeholder="Enter date">
          </md-datepicker>
          
          <md-button class="md-raised md-primary">Primary</md-button>
        </div>

      </form>
    </div>
  </md-content>

<br/>1
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>2
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>3
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>4
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>5
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>6
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>7
<br/>
<br/>
<br/>
<br/>
<br/>8
</div>
